@keyframes appear {
  0% {
    transform: translateY(300px);
    opacity: 0; /* Начинаем с полной прозрачности */
  }
  30% {
    transform: translateY(150px);
    opacity: 0.5; /* Полупрозрачный */
  }
  70% {
    transform: translateY(75px);
    opacity: 0.8; /* Почти непрозрачный */
  }
  100% {
    transform: translateY(0);
    opacity: 1; /* Полная непрозрачность */
  }
}

@keyframes runningLine {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.running-line-container {
  background: linear-gradient(to right, #000000cc, #000000d9);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}

.running-line-content {
  display: flex;
  height: 100%;
  width: 100%;
  animation: runningLine 20s linear infinite;
}

.running-line {
  color: white;
  padding: 22px;
  font-size: 1.7rem;
}

.headline-services {
  transition: all 0.5s;
  animation: appear ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.service-appearing,
.service {
  animation: appear ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.text-appearing {
  animation: text-appearing ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes text-appearing {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  30% {
    opacity: 0.2;
    transform: translateY(60px);
  }
  70% {
    opacity: 0.6;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
