/* XL */
/* @media (max-width: 1440px) {
  header .container .name-company h1 {
    font-size: 2.5rem;
  }
  header .container .name-company p {
    font-size: 1.5rem;
  }
  .first-presenting-box-info article {
    font-size: 2.2rem;
  }
  .first-presenting-box-info h1 {
    font-size: 2.5rem;
  }
  #call-to-locksmith {
    font-size: 1.5rem;
    padding: 15px 10px;
    width: 15rem;
  }
  .service p {
    font-size: 1.3rem;
  }
  .all-day-locksmith-services article {
    font-size: 2.5rem;
  }
  .img-wrapper-services {
    display: flex;
    align-items: center;
  }
  .locksmith-services-box-info p {
    font-size: 1.5rem;
  }
  footer p {
    font-size: 1.3rem;
  }
} */

/* M */
@media (max-width: 768px) {
  body {
    max-width: 100%;
  }
  /* Doens't work at all */
  /* body {
    font-size: 16px;
  } */

  header {
    padding: 10px 0;
  }

  /* Doesn't work at all, there are some classes which cover out values  */
  /* header h1 {
    font-size: 28px;
  } */

  header .container .name-company h1 {
    font-size: 1.5rem;
  }

  header .container .name-company p {
    font-size: 1.2rem;
  }

  /* Same problem */
  /* header p {
    font-size: 16px;
  } */

  .name-company {
    color: #fff;
    padding: 20px 20px;
    display: block;
  }
  .navigation-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .first-presenting-box-info article {
    font-size: 1.4rem;
  }
  .first-presenting-box-info h1 {
    font-size: 1.5rem;
  }

  .first-presenting-section {
    height: 100vh;
    padding: 20px 0;
    text-align: center;
  }

  .running-line-content p {
    font-size: 1.2rem;
    padding: 15px;
  }

  .all-day-locksmith-services {
    max-width: 100%;
  }

  .services .headline-services {
    font-size: 2rem;
  }

  .services {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .service {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
  }

  .service img {
    max-width: 70%;
    height: auto;
  }

  .service h3 {
    font-size: 20px;
  }

  .services .service p {
    font-size: 1rem;
    max-width: 400px;
    margin: 0 0 20px;
  }

  .all-day-locksmith-services article {
    font-size: 1.2rem;
    padding: 0 10px;
  }

  .all-day-container {
    flex-wrap: wrap;
  }

  /* Doesn't work */
  /* .service p {
    font-size: 14px;
  } */

  .feedback-form-container {
    padding: 20px;
    margin: 20px 0;
  }

  form {
    width: 100%;
    padding: 15px;
  }

  footer {
    font-size: 0.9rem;
    padding: 10px 0;
  }

  .button,
  .service .button {
    width: 160px;
    padding: 12px;
  }

  .close-modal {
    width: 20px;
    top: 0.5rem;
    right: 0.5rem;
  }
}

/* M */

@media (max-width: 480px) {
  header h1 {
    font-size: 24px;
  }

  header p {
    font-size: 14px;
  }

  .navigation-box {
    gap: 5px;
  }

  .service h3 {
    font-size: 18px;
  }

  .service p {
    font-size: 12px;
  }

  .img-wrapper-services {
    display: flex;
    justify-content: center;
    margin: 0 0 25px;
  }

  .all-day-container .img-wrapper-services img {
    max-width: 400px;
  }

  .all-day-container {
    display: flex;
    padding: 0 20px;
  }
  .locksmith-services-box-info p {
    text-align: center;
  }
}
