@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f4;
  position: relative;
  scroll-behavior: smooth;
}

.main-container {
  position: relative;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.modal-container {
  position: absolute;
  top: 0;
  max-width: 100%;
  max-height: 100vh;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
}

.close-modal {
  top: 0.5rem;
  right: 0.5rem;
  width: 25px;
  color: black;
  position: absolute;
  background-color: #c5c5c5;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.close-modal:hover {
  color: red;
  transition: 0.5s;
  background-color: black;
}

header {
  position: fixed;
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 2;
}

header h1 {
  margin: 0;
  font-size: 36px;
  letter-spacing: 1px;
}

#header-animate-paragraph,
header .call-mobile-header {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 300;
  line-height: 2.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  position: relative;
}

header .call-mobile-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: blue;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease;
}

header .call-mobile-header:hover::after {
  transform: scaleX(1);
}

.navigation-box {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0 0 10px;
}

.navigation-box a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
  position: relative;
  font-size: 1.2rem;
}

.navigation-box a::after {
  content: "";
  display: block;
  width: 0;
  height: 2.5px;
  background: #e8491d;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.navigation-box a:hover {
  color: #fff;
}

.navigation-box a:hover::after {
  width: 100%;
}

.name-company {
  color: black;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.blue-text {
  color: #007bff;
}

.red-text {
  color: #ff4c4c;
}

main h1 {
  color: #e8491d;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

main .call-to-locksmith {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #e8491d;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

main .button:hover {
  background-color: #333;
}

.background-wrapper {
  /* background-image: url("/images/first-section-background.png"); */
  background-color: white;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: blur(0.5px);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.first-presenting-section {
  background: rgba(0, 0, 0, 0.093);
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.first-presenting-box-info {
  z-index: 1;
}
.first-presenting-box-info h1 {
  color: #ff4c4c;
  opacity: 0;
}

.first-presenting-section article {
  color: black;
  letter-spacing: 1.2px;
  font-weight: bolder;
  font-size: 1.8rem;
  text-align: center;
  opacity: 0;
}
.paused {
  animation-play-state: paused !important;
}
.headline-services {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 0 0 20px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
}

.service {
  position: relative;
  border-radius: 5px;
  max-width: 30%;
  text-align: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.service-img {
  display: block;
  width: 100%;
  transition: transform 0.5s ease;
}

.img-wrapper:hover .service-img {
  transform: scale(1.1);
}

.img-wrapper:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
}

.img-wrapper:hover::after {
  opacity: 1;
}

.service-more-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e8491d;
  color: white;
  padding: 10px 20px;
  border: none;
  z-index: 1;
  max-width: 200px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease;
  border: 2px solid black;
  &:hover {
    background-color: #696969;
    color: #fff;
  }
}

.img-wrapper:hover .service-more-about {
  opacity: 1;
}
.service-img {
  transition: transform 1s ease;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.service h3 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.service p {
  font-size: 16px;
  color: #666;
}

.service .button:hover {
  background-color: #333;
}

.all-day-container {
  display: flex;
  justify-content: space-around;
}

.img-wrapper-services img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  border-radius: 10px;
}

.all-day-locksmith-services {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.all-day-locksmith-services article {
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
  margin: 25px 0 50px;
}

.locksmith-services-box-info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.locksmith-services-box-info p {
  margin: 15px 0 15px;
}

.feedback-form-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 2;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

#contact-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.feedback-form-container h1 {
  margin: 0 0 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.form-wrapper {
  background-image: url("/images/first-section-background.png");
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: blur(0.5px);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

form {
  position: relative;
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="tel"],
textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

input:focus,
textarea:focus {
  border-color: #333;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.checkbox-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-submit {
  cursor: pointer;
}

footer {
  /* background-color: #333; */
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  height: 35px;
  line-height: 35px;
  color: #ffffffa1;
}

footer p {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 1px;
  color: black;
  transition: 0.5s;
}

.footer-container {
  /* background-color: rgb(34 34 34); */
  background-color: white;
  padding: 5px 0;
  cursor: pointer;
}

.footer-container p:hover {
  color: #e8491d;
  transition: 0.5s;
}

.isActive {
  opacity: 1 !important;
  transition: 0.6s;
}
